body{
    margin: 0;
}

.header{
    width: 100%;
    height: 4em;
    background-color: EEC591;
    display: flex;
    justify-content: center;
}

.logo-nav-container{
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dummy-logo{
    background-color: aliceblue;
    background-image: url(Logo.png);
    width: 10em;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav{
    width: 30em;
    height: 100%;
    background-color: blue;
}

.nav-structure{
    list-style: none;
    background-color: brown;
    margin-top: 1.2em;
}

.nav-item{
    display: inline-flex;
    background-color: cadetblue;
    font-size: 1.5em;
}

/* .nav-dot wird bisher nicht genutzt */

.nav-link{
    text-decoration: none;
}