body{
    margin: 0em;
    width: 100%;
    height: 100%;
}

/* Header */

.header{
    width: 100%;
    height: 4em;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.logo-nav-container{
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.dummy-logo{
    background-color: red;
    background-image: url(Logo.png);
    width: 10em;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav{
    width: 30em;
    height: 100%;
    background-color: orange;
}

.nav-structure{
    list-style: none;
    background-color: palevioletred;
    margin-top: 1.2em;
}

.nav-item{
    display: inline-flex;
    background-color: white;
    font-size: 1.5em;
}

/* .nav-dot wird bisher nicht genutzt */

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-link:hover{
    color: grey;
}

/* Hauptseite */

.main-content{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 243, 243);
}

.Bestellung h1{
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    margin: 0em;
}

.hinweistext{
    width: 100%;
    height: min-content;
    text-align: center;
}

.hinweis{
    font-size: 1.6em;
    margin: 0em 3em 0em 3em;
    text-align: center;
}

button.hinweis-button{
    width: 10em;
    height: 3em;
    text-align: center;
    margin: 1em 0em 1em 0em;
    background-color: rgb(58, 58, 160);
    border-style: none;
    color: white;
    cursor: pointer;
}

button.hinweis-button:hover{
    background-color: rgb(86, 86, 206);
}

button.hinweis-button:active{
    background-color: rgb(130, 130, 255);
}